* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    /* color: #b74b4b; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden; 
    transition: 0.5s;
}

header {
    padding-right: 6rem;
    padding-left: 10rem;
}

.home {
    padding-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-home {
    font-weight: 600;
    font-size: 2.5rem;
    color: #b74b4b;
    transition: transform 0.3s;
}

.logo-home:hover {
    transform: scale(1.08);
}

.home-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list-nav a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.list-nav {
    transition: transform 0.2s;
}

.tab-btn {
    transition: 0.5s ease;
    cursor: pointer;
}

.tab-btn.active {
    color: #b74b4b;
    border-bottom: 2px solid #b74b4b;
}

.list-nav:hover {
    transform: scale(1.08);
}

.list-nav a:hover {
    color: #b74b4b;
    border-bottom: 2px solid #b74b4b;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #b74b4b;
}

.info-cont {
    padding-top: 3.2rem;
    padding-right: 8rem;
    padding-left: 2rem;
}

.info-cont h1 {
    font-size: 2.5rem;
}

.info-cont p {
    padding-top: 8px;
    font-weight: 500;
}

.icons-cont {
    padding-top: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.link-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b74b4b;
    transition: transform 0.3s ease;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
}

.link-cont:hover {
    transform: scale(1.08) translateY(-5px);
    color: black;
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.img-cont {
    padding-left: 8rem;
    padding-top: 3rem;
}

.img-cont img {
    width: 500px;
}

.exp-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 7rem;
    font-weight: 500px;
    padding-left: 15rem;
    padding-right: 8rem;
}

.exp-cont img {
    padding-top: 3rem;
    width: 300px;
}

.exp-info h2{
    font-size: 2.5rem;
}

.hab-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 7rem;
    font-weight: 500px;
    padding-left: 12rem;
    padding-right: 8rem;
}

.hab-cont img {
    padding-top: 3rem;
    width: 350px;
}

.hab-info h2{
    font-size: 2.5rem;
}

                                   /* botão de modo Dark e Light */

.modo {
    width: 70px;
    height: 30px;
    background-color: #6b6969;
    position: relative;
    cursor: pointer;
    border-radius: 150px;
}

.modo .interruptor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(.8);
    left: 0;
    transition: 0.5s;
}

.modo.light {
    background-color: #6b6969;
}

.modo.light .interruptor {
    left: 40px;
    background-color: white;
    color: black;
}

body.light {
    background-color: white;
}

body.light h1 {
    color: black;
}

body.light h2 {
    color: black;
}

body.light p {
    color: black;
}

body.light .logo-home {
    color: #b74b4b
}

body.light a {
    color: black;
}

@media screen and ( max-width: 768px ) {
    header {
        padding: 0;
    }

    .modo {
        display: none;
    }

    .list-nav a {
        font-size: 20px;
    }

    .home {
        padding-bottom: 10px;
        padding-top: 0;
        flex-direction: column;
    }

    .logo-home {
        font-size: 50px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .info-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .info-cont h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        gap: 5px;
    }

    .info-cont h2 {
        font-size: 18px;
    }

    .info-cont p {
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .icons-cont {
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-cont {
        padding-top: 10px;
        padding-left: 5px;
    }

    .img-cont img {
        padding-top: 15px;
        width: 400px;
    }

    .hab-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding-right: 5px;
        padding-left: 5px;
        gap: 0px;
    }

    .hab-cont h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .hab-cont p {
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hab-cont img {
        padding-top: 2rem;
        width: 300px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .hab-info span {
        padding-left: 7px;
    }

    .exp-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding-right: 5px;
        padding-left: 5px;
        gap: 0px;
    }

    .exp-cont h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .exp-cont p {
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .exp-cont img {
        padding-top: 2rem;
        width:280px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .exp-info span {
        padding-left: 7px;
    }
}
